@import url(reset.css);
@import url(nav.css);
@import url(footer.css);


:root{
    --color-blue1-1: #052149;
    --color-blue1-2: #052149d7;
    --color-blue2: #093472;
    --color-blue3: #1FB8FF;
    --color-white: #fff;
}

body{
    overflow-x: hidden;
    width: 100%;
	height: 100%;
}

header{
    background-color: var(--color-blue1-2);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.315);
    width: 100%;
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
}

main{
    margin-top: -90px;
    width: 100%;
    text-align: center;
}

.container-principal{
    background-color: #052149;
    height: 111vh;
}

.container-carrossel{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.carrossel-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.slider{
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    width: 100%;
}
.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    position: relative;
    left: -45%;
    top: 50vh;
    z-index: 2;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.301);
}
#prev-button img, #next-button img{
    width: 100%;
}
#next-button{
    left: 850px;
}



.img-carrossel-centro{
    width: 434px;
    text-align: center;
}

/*------------ Mouse Scroll Down --------------------*/

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    bottom: 30px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }


/*--------------- Divs ------------------------------- */

.container-divs{
    height: 70px;
    display: flex;
    justify-content: space-around;
}
.div-gnd{
    height: 90%;
    width: 580px;
    background-color: var(--color-blue3);
}
.div-pqn{
    height: 30%;
    width: 580px;
    background-color: var(--color-blue3);
}


/*--------------- SLIDE CARROSSEL --------------------*/

.desc-motor{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 85px;
    margin-bottom: 5px;
}
.desc-motor>p{
    color: var(--color-blue2);
}

.slick-slide {
	transform: scale(0.8);
	transition: all 0.4s ease-in-out;
	margin: 20px 0;
    width: 20px;
}

.slick-slide:hover{
    cursor: grab;
}

.slick-slide img {
	transition: all 0.4s ease-in-out;
    text-align: center;
    min-width: 10%;
    margin: auto;
}

.slick-center {
	transform: scale(1.1);
    text-align: center;

}

.center{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

/* ------------- ATENDIMENTO ONLINE ------------------- */

#container-atendimento-online{
    display: flex;
    padding: 35px;
    background-color: #434752;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    color: #9E9D9D;
    line-height: 25px;
    align-items: center;
    margin-top: 100px;
}
#botao-atendimento{
    background-color: #1FB8FF;
    padding: 13px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
}

/* ----------------- Sobre ---------------------------------- */

#container-sobre{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 50px;
    padding-top: 100px;
    position: relative;
    transform: translateY(-60px);
    z-index: -100;
}
#sobre-img{
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
}
#sobre-img>img{
    height: 300px;
}
#sobre{
    width: 45%;
    text-align: justify;   
    line-height: 25px; 
}
#sobre>p{
    margin-top: 10px; 
}
#sobre>h2{
    font-size: 32px; 
}

#revenda{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    text-align: center;   
    line-height: 25px; 
    padding-bottom: 20px;
}
#revenda>h2{
    font-size: 32px;
}
#revenda>p{
    margin-top: 10px;
}

/* ------------- form ------------------------------------- */

.tudo-div{
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    animation: expandOpacity 2s ease-in-out forwards;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.form-input{
    border: solid 1.5px rgba(0, 0, 0, 0.790);
    border-radius: 10px;
    background: none;
    padding: 10px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.790);
    width: 100%;
}
.form-label{
    position: relative;
    color: rgba(0, 0, 0, 0.790);
    left: 10px;
    pointer-events: none;
    text-align: left;
}


submit, input[type="submit"]{
    padding: 15px 50px 15px 50px;
    background-color: var(--color-white);
    color: rgba(0, 0, 0, 0.790);
    border: 1px solid var(--color-blue3);
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.5s;
    box-sizing: border-box;
}
submit, input[type="submit"]:hover{
    cursor: pointer;
    font-size: 1rem;
    transform: scale(1.05);
    transition: 0.5s; 
    background-color: var(--color-blue3);
}

.container{
    text-align: center;
}
#container-buttom{
    margin-top: 10px;
}